* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --main: #ff4500;
}

body {
    width: 100%;
    height: 650vh;
    font-family: "Reddit Sans", sans-serif;
    /* font-style: italic; */
}

header {
    height: 2.5%;
    border-bottom: 1px solid rgb(234, 234, 234);
    
}

nav {
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

}

div.leftnav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.reddix {
    /* filter: invert(100%); */
    height: 8rem;
}

.reddix:hover {
    cursor: pointer;
}

div.rightnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

div.rightnav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

div.rightnav .underline:hover {
    text-decoration: underline;
}

.navbutton {
    color: white !important; 
    border: 2px solid var(--main);
    border-radius: 100px;
    padding: 19px;
    background-color: var(--main);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbutton:hover {
    text-decoration: none;
    color: var(--main);
    background-color: white;
    color: var(--main) !important;

}

.reddixpress:hover {
    background-color: black;
}

.reddixpress {
    font-weight: 600;
}

img.robo {
    width: 24rem;
}

main {
    height: 88%;
    width: 100%;

}

footer {
    height: 10%;
    width: 100%;
    /* border: 1px solid yellow; */
}

.section1 {
    height: 15%;
    width: 100%;
    background-color: var(--main);
    display: flex;
}

div.leftsection1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;

}

div.leftsection1 h1 {
    font-size: 4rem;
}

div.leftsection1 p {
    font-size: 1.2rem;
    line-height: 1.6;
}

div.rightsection1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}


.section2{
    height: 46%;
    width: 100%;
    background-color: white;
}

.section2 .subsection1 {
    height: 30%;
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
}

.section2 .subsection1 .leftofss1{
    /* border: 1px solid yellow; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}  


.section2 .subsection1 .leftofss1 img{
    height: 80%;
    border-radius: 20%;
}

.rightofss1 {
    /* border: 1px solid rgb(27, 27, 20); */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem 12rem 8rem 3rem;
}

.rightofss1 h1 {
    font-size: 2.6rem;
}

.rightofss1 p {
    padding-right: 5rem;
    font-size: 1.2rem;
}


.subsection2 {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 6rem; */
    margin-right: 6rem;
}

.leftofss2 {
    height: 100%;
    width: 50%;
    /* border: 2px solid maroon; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center; 
    padding: 8rem 3rem 8rem 18rem;
    gap: 2rem;
}

.leftofss2 h2 {
    font-size: 2.4rem;
}

.leftofss2 p {
    font-size: 1.2rem;
}

.rightofss2 {
    height: 100%;
    width: 50%;
    /* border: 2px solid maroon; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12rem;
}

.rightofss2 img {
    height: 25rem;
    border-radius: 20%;
}


.ss1button {
    font-weight: 700;
}

.subsection3 {
    display: flex;
    height: 25%;
    width: 100%;
    /* padding: 6rem;
    padding-right: 6rem; */
}

.leftofss3 {
    height: 100%;
    /* border: 3px solid lavender; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    
}

.leftofss3 img {
    height: 23rem;
    border-radius: 20%;
}

.rightofss3 {
    /* border: 3px solid lavender; */
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 8rem 12rem 8rem 3rem;
    gap: 2rem;

}

.subsection4 {
    height: 18%;
    width: 100%;
    display: flex;

}

.leftofss4 {
    height: 100%;
    width: 50%;
    /* border: 2px solid maroon; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center; 
    padding: 8rem 3rem 15rem 18rem;
    gap: 2rem;
}

.leftofss4 h2 {
    font-size: 2.4rem;
}

.leftofss4 p {
    font-size: 1.2rem;
}

.rightofss4 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: top; */

}

.rightofss4 img {
    height: 20rem;
    border-radius: 20%;
}


.rightofss3 h2 {
    font-size: 2.4rem;
}

.rightofss3 p {
    font-size: 1.2rem;
}


.section3 {
    height: 18%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    /* align-items: center; */
    
}

.section3 h2 {
    
    font-size: 3rem;
}

.section3para {
    font-size: 1.3rem;
}

.box p {
    font-size: 1.1rem;
    
}
.box h2 {
    color: var(--main);
}

.box {
    border: 1px solid white;
    border-radius: 20px;
    padding: 2rem;
    color: black;
    background-color: #fff;
}

.boxes {
    display: flex;
    gap: 2rem;

}



.section4 {
    height: 22%;
    width: 100%;
    background-color: white;
    
}

.section4 h1 {
    height: 10%;
    /* margin-top: 4rem; */
    padding-top: 3.1rem;
    margin-left: 17rem;
    font-size: 3rem;
}

.section4div1 {
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 8rem;
    gap: 5rem;
}


.section4div2 {
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

figcaption {
    font-weight: 600;
    font-size: 1.3rem;
}

.topleftofs4 {
    box-sizing: border-box;
    /* height: 100%; */
}

.topleftofs4 img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.toprightofs4 img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.bottomleftofs4 img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.bottomrightofs4 img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.twoboxestop {
    height: 100%;
    width: 30%;
    border-radius: 10px;
}

.twoboxesbottom {
    height: 100%;
    width: 30%;
    
}

footer {
    background-color: black;
    height: 9.6%;
    display: flex;
}

.leftfooter {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.rightfooter {
    height: 100%;
    width: 60%;
}

.footerimage {
    height: 30%;

}

table {
    color: white;
    /* border: 1px solid white; */
    /* font-size: 1.5rem; */
    padding: 10px;
}

thead {
    color: var(--main);
    font-size: 1.5rem;
    padding: 10px;   
}

tbody {
    font-size: 1.2rem;
    padding: 10px;
}

td {
    /* border: 1px dashed white; */
    padding: 12px;
    padding-right: 3rem;

}