* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --main: #ff4500;
    --paddingforallsubstop: 3.25rem ;
    --paddingforallsubssides: 0.938;
}

body {
    width: 100%;
    height: 650vh;
    font-family: "Reddit Sans", sans-serif;
    /* font-style: italic; */
    /* max-width: 1440px; */
    min-width: 1440px;
}


/* header */
header {
    height: 2.5%;
    border-bottom: 1px solid rgb(234, 234, 234);

}

nav {
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

}

div.leftnav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.reddix {
    height: 8rem;
}

.reddix:hover {
    cursor: pointer;
}

div.rightnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

div.rightnav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

div.rightnav .underline:hover {
    text-decoration: underline;
}

.navbutton {
    color: white !important;
    border: 2px solid var(--main);
    border-radius: 100px;
    padding: 19px;
    background-color: var(--main);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbutton:hover {
    text-decoration: none;
    color: var(--main);
    background-color: white;
    color: var(--main) !important;

}

/* main  */
main {
    height: 88%;
    width: 100%;
}

.section1 {
    height: 16%;
    display: flex;
    background-color: #ff4500;
}

.leftofsection1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10%;
}

.leftofsection1 h1 {
    font-size: 4rem;
    margin-bottom: 2.563rem;
}

.leftofsection1 p {
    /* margin-top: 1.2rem; */
    font-size: 1.3rem;
    line-height: 2rem;
}

.rightofsection1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightofsection1 img {
    height: 70%;
}


.section2 {
    height: 66%;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.subsection1 {
    height: 18%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin: 3.25rem 0rem;
}

.leftofsubsection1 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.leftofsubsection1 img {
    height: 80%;
}

.rightofsubsection1 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 13rem 0rem 5rem;

}

.rightofsubsection1 h1{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.rightofsubsection1 p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/* ---------------------- */
.subsection2 {
    height: 18%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin: 3.25rem 0rem;
}

.rightofsubsection2 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:left;
}

.rightofsubsection2 img {
    height: 80%;
}

.leftofsubsection2 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem 0rem 13rem;

}

.leftofsubsection2 h1{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.leftofsubsection2 p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/* ------------------------ */

/* +++++++++++++++++++++++ */
.subsection3 {
    height: 18%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin: 3.25rem 0rem;
}

.leftofsubsection3 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.leftofsubsection3 img {
    height: 80%;
}

.rightofsubsection3 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 13rem 0rem 5rem;

}

.rightofsubsection3 h1{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.rightofsubsection3 p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}



/* +++++++++++++++++++++++ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
.subsection4 {
    height: 18%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin: 3.25rem 0rem;
}

.rightofsubsection4 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:left;
}

.rightofsubsection4 img {
    height: 80%;
}

.leftofsubsection4 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem 0rem 13rem;

}

.leftofsubsection4 h1{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.leftofsubsection4 p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* *********************** */
.subsection5 {
    height: 18%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin: 3.25rem 0rem;
}

.leftofsubsection5 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.leftofsubsection5 img {
    height: 80%;
}

.rightofsubsection5 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 13rem 0rem 5rem;

}

.rightofsubsection5 h1{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.rightofsubsection5 p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* *********************** */

.section3 {
    height: 18%;
    width: 100%;
    background-color: #f1f3f5;
    display: flex;
    flex-direction: column;
}

.section3 h1 {
    height: 10%;
    font-size: 2.4rem;
    margin-left: 18rem;
    padding-top: 1.2rem;
}

.topcards {
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.cardtop1 {
    height: 100%;
    width: 20%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cardtop1 .imageincardtop1{
    height: 62%;
}

.cardtop1 .imageincardtop1 img{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}



/*  */
.cardtop2 {
    height: 100%;
    width: 20%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cardtop2 .imageincardtop2{
    height: 62%;
}

.cardtop2 .imageincardtop2 img{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

/*  */

.cardtop3 {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cardtop3 .imageincardtop3{
    height: 62%;
}

.cardtop3 .imageincardtop3 img{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*  */

.textincardtop1, .textincardtop2, .textincardtop3, .textincardbottom1, .textincardbottom2{
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1.1rem;
}


/* .allcardsshape {
    height: 80%;
    width: 20%;
    border: 1px solid black;
    } */
    
.bottomcards {
    height: 40%;
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    gap: 1.2rem;
}

.cardbottom1 {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cardbottom1 .imageincardbottom1{
    height: 62%;
}

.cardbottom1 .imageincardbottom1 img{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cardbottom2 {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cardbottom2 .imageincardbottom2{
    height: 62%;
}

.cardbottom2 .imageincardbottom2 img{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cardbottom2 {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cardbottom2 .imageincardbottom2{
    height: 62%;
}

.cardbottom2 .imageincardbottom2 img{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/* footer  */
.twoboxestop {
    height: 100%;
    width: 30%;
    border-radius: 10px;
}

.twoboxesbottom {
    height: 100%;
    width: 30%;

}

footer {
    background-color: black;
    height: 9.6%;
    display: flex;
}

.leftfooter {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.rightfooter {
    height: 100%;
    width: 60%;
}

.footerimage {
    height: 30%;

}

table {
    color: white;
    /* border: 1px solid white; */
    /* font-size: 1.5rem; */
    padding: 10px;
}

thead {
    color: var(--main);
    font-size: 1.5rem;
    padding: 10px;
}

tbody {
    font-size: 1.2rem;
    padding: 10px;
}

td {
    /* border: 1px dashed white; */
    padding: 12px;
    padding-right: 3rem;

}